.client {
padding-bottom: 60px;
padding-top: 60px;

@media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }


  &-title {
      margin-bottom: 50px;
  
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17em;
      text-align: center;
      letter-spacing: 0.03em;
  
      color: var(--title-text-color);
    }

    &-list {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          align-items: center;
            
        }

    &-item {
  width: 100%;

  width: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
      }

      @media screen and (min-width: 1200px) {
        width: calc((100% - 150px) / 6);
          }
  // margin-right: 30px;

  // &:last-child {
  //     margin-right: 0;
  //   }
}

    &-page {
      cursor: pointer;
      fill: #afb1b8;
  
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
        &:focus {
          fill: var(--acent-color);
        }
    }
}



.client-box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primery-white-color);

  // width: 170px;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
    &:focus {
      border-color: var(--acent-color);
    }

        &:hover .client-page {
          fill: var(--acent-color);
        }
}



