.hero {
  background-color: var(--footer-color);
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/offis.jpg);

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  margin-left: auto;
  margin-right: auto;

  max-width: 1600px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-title {
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      width: 696px;
  
      font-style: normal;
      font-size: 44px;
      line-height: 1.36em;
  
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--primery-white-color);
    }
}


button {
  font-family: inherit;
}

.btn {
  text-align: center;
  min-width: 200px;
  padding: 10px 32px;
  background-color: var(--acent-color);
  color: var(--primery-white-color);
  border-radius: 4px;
  cursor: pointer;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88em;
  letter-spacing: 0.06em;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
    &:focus {
      color: var(--primery-white-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

