.hero {
  background-color: var(--footer-color);
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), 
    url(../images/header-mobile.jpg);
    @include retina {
      background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
      
          url(../images/header-mobile-2x.jpg);
      }
 
  text-align: center;

  padding: 118px 60px;

  margin-left: auto;
  margin-right: auto;

  max-width: 1600px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

@include tablet {
  background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
  
      url(../images/header-tablet.jpg);
      @include retina {
          background-image: linear-gradient(to right,
              rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)),
      
            url(../images/header-tablet-2x.jpg);
        }
}


  @include desktop  {
padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/offis.jpg);
      @include retina {
          background-image: linear-gradient(to right,
              rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)),
      
            url(../images/header-desktop-2x.jpg);
        }
  }

  &-title {
      width: 100%;
        font-size: 18px;
        line-height: 1.62;
      
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: #FFFFFF;

    @include tablet {
      font-size: 26px;
        line-height: 1.62em;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    } 

    

    @include desktop {
        margin-bottom: 30px;
          margin-left: auto;
          margin-right: auto;
          width: 696px;
        
          font-style: normal;
          font-size: 44px;
          line-height: 1.36em;
        
          letter-spacing: 0.06em;
          text-transform: uppercase;
          color: var(--primery-white-color);
      }
    }
}


button {
  font-family: inherit;
}

.hero .container {
  padding: 0;
}

.btn {
  text-align: center;
  min-width: 200px;
  padding: 10px 32px;
  background-color: var(--acent-color);
  color: var(--primery-white-color);
  border-radius: 4px;
  cursor: pointer;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88em;
  letter-spacing: 0.06em;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
    &:focus {
      color: var(--primery-white-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

